{% extends "base/base.html" %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/login.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'mine/js/login.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="login">
        {% if check %}
            <p>{{ check }} <a href="{% url 'axf:register' %}">注册</a></p>
        {% endif %}
        <form class="form-inline" method="post" action="{% url 'axf:login' %}">
            {% csrf_token %}
            <div class="form-group has-feedback" id="account">
                <div class="input-group">
                    <b class="input-group-addon">账号</b>
                    <input type="text" class="form-control" name="account" placeholder="6~12位 数字、字母或下划线">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <i>{{ accountErr }}</i>
            </div>

            <div class="form-group has-feedback" id="password">
                <div class="input-group">
                    <b class="input-group-addon">密码</b>
                    <input type="password" class="form-control" name="password" placeholder="6~12位 数字、字母或下划线">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <i>{{ passwordErr }}</i>
            </div>

             <div  id="subButton">
                    <input type="button" class="form-control"
                           value="登录">
             </div>
        </form>
    </div>
{% endblock %}