{% extends "base/base.html" %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/register.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'mine/js/register.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="register">
        <div class="back">
            <a href="{% url 'axf:mine' %}" class="glyphicon glyphicon-remove"></a>
        </div>
        <form class="form-inline" method="post" enctype="multipart/form-data" action="{% url 'axf:register' %}">
            {% csrf_token %}
{#            账号#}
            <div class="form-group has-feedback" id="account">
                <div class="input-group">
                    <b class="input-group-addon">账号</b>
                    <input type="text" class="form-control" name="account" placeholder="6~12位 数字、字母或下划线">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <i></i>
            </div>
{#            密码#}
            <div class="form-group has-feedback" id="password">
                <div class="input-group">
                    <b class="input-group-addon">密码</b>
                    <input type="password" class="form-control" name="password" placeholder="6~12位 数字、字母或下划线">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <i></i>
            </div>
{#            重复输入密码#}
            <div class="form-group has-feedback" id="repassword">
                <div class="input-group">
                    <b class="input-group-addon">密码</b>
                    <input type="password" class="form-control" name="repassword" placeholder="请重复输入密码">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <i></i>
            </div>
{#            昵称#}
            <div class="form-group has-feedback" id="name">
                <div class="input-group">
                    <b class="input-group-addon">昵称</b>
                    <input type="text" class="form-control" name="username" placeholder="用户名">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <i></i>
            </div>
{#            手机#}
            <div class="form-group has-feedback" id="tel">
                <div class="input-group">
                    <b class="input-group-addon">手机</b>
                    <input type="text" class="form-control" name="tel" placeholder="11位号码">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <i></i>
            </div>
{#            地址#}
            <div class="form-group has-feedback">
                <div class="input-group">
                    <b class="input-group-addon">地址</b>
                    <input type="text" class="form-control" name="addr" placeholder="默认收货地址">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <i></i>
            </div>
{#            头像#}
            <div class="form-group has-feedback">
                <div class="input-group">
                    <b class="input-group-addon">头像</b>
                    <input type="file" name="headimg">
                </div>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <i></i>
            </div>
{#            注册#}
                <div  id="subButton">
                    <input type="submit" class="form-control"
                           value="注册">
                </div>
        </form>
    </div>
{% endblock %}